*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

header{
    padding: 30px;
    background-color:#a2a392;
}



header ul{
    width: 500px;
    background-color: #9a998c;
    display: flex;
    justify-content:space-between;
    
    
}

header li{
    padding: 5px 10px;
}

header li a {
    color: aliceblue;
}

.containerbox{
    width: 90%;
    height: 100vh;
    background-image: url(../img/pexels-pixabay-221433.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px auto;
    margin-bottom: 200px;
    position: relative;
    background-attachment: fixed;
}

.fa-angles-down-icon{
    position: absolute;
    top: 90%;
    right: 50%;
}

.fa-angles-down{
    font-size: 50px;
    color: black;
}

.text{
    width: 70%;
    background-color: #a2a392;
    margin: 400px auto;
    padding: 50px auto;
}

p{
    color: antiquewhite;
    font-size: 14px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}